.main {
  padding-left:80px;
  display: flex;
  flex-direction:column;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/background.png");
  background-size: cover;
  background-color: #000000;
  min-height:100vh;
}

.main_context {
  width:100%;
  display: flex;
  gap: 20px;
  justify-content: space-around;

}

.main__content-text {
    order: 2; 
    padding-right: 35px;
    padding-top: 60px;
    min-width: 380px;
    max-width: 450px;

}
.main__content-image {
    order: 1; 
    padding-top: 70px;
}

.main__title {
  font-size: 48px;
  font-weight: 800;
  color: #e50914;
  margin-bottom: 5px;
  font-family: "Lato", sans-serif;
}

.main__age-rating {
    font-size: 20px;
    margin-bottom: 5px;
    color: #ffffff; 
    font-family: "Lato", sans-serif;
    font-weight: 600; /* Semibold */

}
  .main__rating{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 5px;
    color: #ffffff; 
    font-style: "Lato", serif;
    display: flex;
    gap: 5px;
    align-items: center;    
}

  .main__genres{
    font-size: 20px;
    margin-bottom: 15px;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    display: flex;
    gap: 10px;

}
.main__genres strong {
    font-weight: 700;
}

.main__duration{
    font-size: 20px;
    margin-bottom: 15px;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    display: flex;
    gap: 10px;

  }
  .main__duration strong {
    font-weight: 700;
}

.main__release-date{
    font-size: 20px;
    margin-bottom: 15px;
    color: #FFFFFF;
    font-family: "Lato", sans-serif;
    display: flex;
    gap:10px;
  }
  .main__release-date strong {
    font-weight: 700;

}
  .main__actors {
    font-size: 20px;
    margin-bottom: 15px;
    color: #FFFFFF;
    max-width: 650px;
    font-family: "Lato", sans-serif;
    display: flex;
    gap:10px;

  }

  .main__actors-text{
    white-space: nowrap;
  }
.main__description {
    font-size: 18px;
    margin-bottom: 15px;
    color: #FFFFFF;
    max-width: 650px;
    font-family: "Lato", sans-serif;
    display: flex;
    gap:10px;

  }
  .main__description strong {
    font-weight: 700;

}
  .main__director {
    font-size: 20px;
    margin-bottom: 60px;
    color: #FFFFFF;
    max-width: 650px;
    font-family: "Lato", sans-serif;
    display: flex;
    gap:10px;

  }
  .main__director strong {
    font-weight: 700;
}


.main__poster {
  width: 300px;
  object-fit: cover;

}
.main__poster img {
  border-radius: 26px;
  width: 100%;
  width:300px;
  height:400px;
  object-fit: cover;

  
}

.main__button{
  padding: 0 20px;
}

.main__button-right {
  background-color: #e50914;
  color: black;
  padding: 10px 20px;
  font-weight: 800;
  border-radius: 16px;

}

.main__button-right:hover {
  background-color: darkred;
  color: #fff;
}



.main__schedule{
  margin: 30px auto; 
  background-color: #F9F9F97A;
  width: 500px;
  height: 200px;
  padding: 0 30px;
  border-radius: 10px;
}

.schedule__title{
  color: #e50914;
  font-size: 32px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.main__schedule-window{
  display: flex;
  margin-top: 30px;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.schedule__dropdown{
  background-color: rgba(231, 231, 231, 0.74);
  padding: 10px 40px;
  border-radius: 4px;
}

.schedule__sessions{
  display: flex;
  flex-wrap: wrap;
}

.session {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  min-width: 80px; 
}

.session__time-link {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
.session__time-link:hover{
  color: #ffffff;

}
@media (max-width: 1080px) {
  .main_context {
    justify-content: space-between;

  }
}
@media (max-width: 780px) {
  .main_context {
    flex-direction: column; 
    align-items: center; 
    text-align: left;
  }
  .main{
    padding-right:60px;
  }

  .main__content-text {
    padding-right: 0;
    padding-top: 20px;

  }

  .main__content-image {

    padding-left: 0px;
    padding-top: 20px;
  }

  .main__title {
    font-size: 36px; 
  }

  .main__age-rating,
  .main__rating,
  .main__genres,
  .main__duration,
  .main__release-date,
  .main__actors,
  .main__description,
  .main__director {
    font-size: 16px; 
  }

  .main__poster img {
    width: 100%; 
    height: auto; 
  }

  .main_schedule {
    flex-direction: column; 
    width: 100%; 
  padding-right: 0px ;
  }
}
