.movies__page{
  min-height: 100vh;
  background-image: url("../../images/background.png");
  background-size: cover;
  background-color: #000000;
}

.header {
  align-items: center;
  padding-top: 30px;
  display: flex;
  justify-content: right;
}

.movies-title{
    color: #ffffff;
    font-family: "Lato", sans-serif;
    font-weight: 700; /* ExtraBold */
    font-size: 36px; 
    margin-top: 30px;
    margin-left: 100px;
}
.search-container {
    display: flex;
    margin-right: 100px;
  }
  
  .search-input {
    padding: 10px;
    width: 200px;
    height: 30px;

    font-size: 16px;
    border: 5px solid #494242;;
    border-radius: 4px;
    outline: none;
    background-color: #494242;;
  }
  
  .search-input::placeholder {
    color: #000000;
  }
