.widget-poster{
  width:250px;
  height:300px;
  object-fit: cover;
  border-radius: 15px;
  position: relative;
}

.Seat {
  width: 30px;
  height: 30px;
  margin: 5px;
  border: 1px solid #4CAF50;  /* Green for available seats */
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  }
  
  .Seat.selected {
  border: 1px solid #45a049;
    background-color: #45a049;

  }
  

  
  .Seat.unavailable {
  border: 1px solid #A9A9A9;
  cursor: not-allowed;
  }
  
  .Seat:hover {
  border: 1px solid #8BC34A;
    background-color: rgba(176, 227, 125, 0.653);
  }
  
  .Row {
  display: flex;
  justify-content: center;  /* Center seats within each row */
  margin-bottom: 10px;
  }
  
  h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  }
  

  
.widget{
  display: flex;
  justify-content: space-between;
}

  .widget-container{
    padding: 50px 90px;
    display: flex;
    gap: 30px;
}

.widget-container-text{
    line-height: 25px;
    position: relative;
    top: 0;
}

.widget__name{
    font-size: 36px;
    line-height: 60px;
    text-align:left;
}

.widget__format{
    display: flex;
    gap: 5px;
}

.format{
    padding: 0px 15px;
    background-color: lightgray;
    border-radius: 5px;
}
.widget-container__time{
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 60px;
}

.widget__date{
    display: flex;
    align-items: center;
    gap: 10px; 


}
.widget-container__location{
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 60px;
}

.widget__seatplan{
    width: 800px;
    position: relative;
    left: 90px;
}

.widget-container__price{
    justify-self: center;
    margin-bottom: 30px;
    width: 145px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}

.widget__red-block{
    background-color: #45a049;
    padding: 20px 20px;
    border-radius: 5px;
}

.widget__grey-block{
    background-color: #ccc;
    padding: 20px 20px;
    border-radius: 5px;
}
.widget__seat-reserved{
    display:flex;
    justify-self: center;
    gap:30px;
}

.widget-reserved{
    justify-self: center;
    margin-bottom: 30px;
    width: 145px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}
.widget__screen{
    justify-self: center;
    font-size: 20px;
    font-weight: bold;
}

.widget__button {
    background-color: #45a049; /* зелений фон */
    color: white; /* білий текст */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    bottom: 0px;
  }
  
  .widget__button:hover {
    background-color: green; /* темніший зелений при наведенні */
  }
  
  .widget__button:disabled {
    background-color: #ccc; /* сірий фон для вимкненої кнопки */
    cursor: not-allowed;
  }
  
.widget__cart{
  position: fixed;
  top: 0;         
  right: 0;  
  width: 35%;   
  height: 100vh;
  background: white;
  border-left: 0.01px solid rgba(162, 162, 162, 0.429);
}
.widget__cart-btn{
  position: absolute;
  bottom: 30px;
  width: 100%;
}

.purchased-seat-detail{
  display: flex;
}
